html {
  box-sizing: content-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

.back-img {
  background-image: url("images/b2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.h1 {
  text-align: center;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px 1;
  color: white;
}


.text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 39px;
}

.content {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0px 15%;
  letter-spacing: 2px;
}

img {
  width: 100%;
  height: 35%;
}

.center {
  width: 30%;
  float: left;
  padding: 40px 15px;
  height: 60%;
}

.t1 {
font-size: 32px;
}

.t2{
font-size: 16px;
}

.t3 {
font-size: 14px;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}

footer {
  padding: 50px 100px;
  text-align: center;
  }
  
  .ftr {
  background-color: #eaeaf6;
  padding: 50px 20;
  }
  
  .a1 {
    list-style-type: none;
    background-color: black;
    color: white;
  
  }
  
  .a2 {
    float: top;
  }
  
  .part1 {
    display:inline-block;
    width:250px;
  }
  
  .part2 {
    display:inline-block;
  }